@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* common css */
.sn-gradiant{
    background-image: linear-gradient(45deg, #f5f387, #faf9ee);
}
.sn-color{
    color: #d6d332cc;
}
.sn-bgcolor{
    background-color: #eceb80;
}
.sn-semibold{
    font-weight: 600;
}

/* custom css */
.sn-card:hover, .sn-active:hover{
    background-image: linear-gradient(-45deg, #f5f387, #faf9ee);
    cursor: pointer;
}
.sn-active{
background-color: #f5f38f;
position: relative;
}
.hot{
    background-color: red;
    color: white;
    width: 50px;
    position: absolute;
    right: 0;
    top: -10px;
}