@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* common css */
.sn-gold-gradiant{
    background-image: linear-gradient(45deg, #f5f387, #faf9ee);
}
.sn-color{
    color: #d6d332cc;
}
.sn-bgcolor{
    background-color: #eceb80;
}
.sn-semibold{
    font-weight: 600;
}

/* .................
custom css
.................. */

/* package */

.sn-card:hover, .sn-active:hover{
    background-image: linear-gradient(-45deg, #f5f387, #faf9ee);
    cursor: pointer;
}
.sn-active{
    background-color: #fffec3;
    position: relative;
    top: -20px;
    margin-bottom: 50px;
}
.best-sell{
    background-color: red;
    color: white;
    font-size: 12px;
    width: 80px;
    position: absolute;
    right: 0;
    top: -10px;
}
/* toast  */
.sn-toast .toast{
    width: 260px;
    border-left: 5px solid #bbcbff;
}
/* venu */
.sn-venu{
    background-image: url('../images/venu.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(82, 72, 72, 0.25);
    background-blend-mode: overlay;
    position: sticky;
}
/* Media query */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px){ 
    /* banner */
    .carousel-item{
        height:300px;
    }
    /* package */
    .sn-active{
        margin-top: 30px;
    }
    /* FAQ */
    .sn-faq{
        flex-direction: column-reverse;
    }
 }
